<div id="nav">
    <div id="nav-hide">
        <% for (var i in theme.menu){ %>
            <div class="nav-selection">
                <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            </div>
        <% } %>
    </div>
    <div class="nav-selection" id="nav-show">
        <div class="nav-link">MORE</div> <i class="nav-icon" id="nav-expand"></i></div>
    </div>
</div>