#footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background: color-darkest
  padding: 25px 0
  color: color-lightest
  text-align: center;
  a
    color: color-lightest
    text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em