.page-header
    padding: 15px 0

    h1 
        font: 2em font-serif
    background: color-lightest
    color: color-darkest
    a
        color: color-med
    
    .page-header-intro
        margin-top: 15px
    
    .page-header-container
        width: 90%
        max-width: 500px
        margin: auto;