.home-header-icon
    width: 100px
    height: 100px
    border-radius: 100%
    border: 2px solid color-darkest
    opacity: .9

@media (min-width:768px)
    .home-header-container
        display: flex
        flex-wrap: nowrap
        aling-items: center;
        justify-content: center;

    .home-header-title
        margin-left: 15px

