.article-wrapper
  width: 90%
  max-width: 500px
  background: color-lightest
  color: color-darkest
  border: 1px solid color-light
  margin: 0 auto 25px

  a
    color: color-med
    &:hover
      font-style: italic

  .article-meta
    background: color-light
    font-family: font-serif
    font-size: 1.3em
    
    .article-meta-content
      width: 95%
      margin: auto
      padding: 10px 0
      clearfix()

      .article-share-link
        float: right
        cursor: pointer

      .article-tag-list-item
        display: inline-block
        margin-right: 10px

  .article-title
    color: color-darkest
    font-size: 2em
    letter-spacing: 1px