.page-header
    padding: 15px 0
    margin-bottom: 25px

    h1
        font: 3em font-serif
    h2 
        font: 2em font-serif
        background: color-light
        padding: 0 5px
    p
        margin: 15px 0
    background: color-lightest
    color: color-darkest
    a
        color: color-med

    
    .page-header-container
        width: 90%
        max-width: 500px
        margin: auto;

        table
            width: 100%